
/*CSS DOCUMENT*/
body{
	font-family: "微软雅黑";
	background: url("../images/bg.jpg");
	background-repeat: no-repeat;
    background-size: 100%;
}
/*.backimage {*/
/*    width: 100%;*/
/*    background-image: url("../images/login.jpg");*/
/*    background-repeat: no-repeat;*/
/*    padding-top: 11%;*/
/*    height: 100%;*/
/*    background-size:100%;*/
/*    padding:0px;*/
/*}*/

.backimage1{
    width: 1200px;
    min-height: 710px;
    background-image: url("../images/password.jpg");
    background-repeat: no-repeat;
}
.form-login, .form-login1 {
    width: 390px;
    height: 433px;
    padding: 30px 25px;
    text-align: center;
    background: #fff;
    margin: auto;
}
.form-login1{
    margin-left: 407px;
}
.form-bottom{
    margin-bottom: 20px !important;
}
.checkbox label, .radio label{
    padding-left: 5px;
}
.span1{
    font-size: 12px;
    text-align: center;
    /*color: #666666;*/
    padding-left: 6px;
}
#demo_11 a:link,#demo_11 a:visited,#demo_11 a:hover{
    /*color: #98bf00;*/
}
.span2{
    font-size: 12px;
    color: #666666;
    /*padding-left: 5px;*/
}
.div-padding{
    padding-top: 10px!important;
    padding-right: 0px;
}
.btn-success{
    background-color:#98bf00;
    border-color: #fff;
    color: #fff;
}
.text-center {
    text-align: center;
    height: 30px;
}
.n-top, .n-right, .n-bottom, .n-left{
   display: block!important;
}
.ok{
    height: 22px;
    width: 22px;
    float: left;
    margin-top: -2px;
    background-image: url("../images/ok.png");
}
.ok1{
    height: 22px;
    width: 22px;
    margin-top: -2px;
    background-image: url("../images/ok1.png");
}
.vail{
    float: left;
}
.res{
    float: left;
    left: 17px;
    position: relative;
    top: 5px;
}
.form-control{
    color: #666666;
    border-radius: 3px;
    height: 48px;
    background: #ebeff3;
    background-img: url('../images/User 2 - Assistor2.png');
}
a :hover{
    text-decoration: none;
    color: #98bf00;
}
.span3{
    font-size: 18px;
    color: #98bf00;
    padding-bottom: 20px;
    padding-left: 15px;
}
.center{
    width: 250px;
    padding-left: 120px;
}
.n-right{
    margin: 0 0 0 0;
}
.footer {
    color: #fff;
    height: 50px;
    margin: auto;
    position: absolute;
    padding: 20px 10px;
    background: #333 none repeat scroll 0 0;
    bottom: 0px;
    width: 100%;
}
.c3{
	color: #333;
	font-size: 18px;
}
.center-block {
    display: block;
    margin-right: auto;
    text-align: center;
}
.btn-primary,.btn-primary:hover,.btn-primary:focus {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.centerLogo {
    height: 88px;
    background: url('../images/centerLogo.png');
    background-repeat: no-repeat;
    margin-left: 128px;
}
.form-control:focus{
	border:1px solid #E91E9E;
	background: #ebeff3;
	color: #E91E9E;
}
/*.user {*/
/*    background: url('../images/User 2 - Assistor2.png') no-repeat;*/
/*    background-position: 310px 15px;*/
/*    background-color: #F3F6F5;*/
/*}*/
/*.user:focus {*/
/*    background: url('../images/User 2 - Assistor1.png') no-repeat;*/
/*    background-position: 310px 15px;*/
/*    background-color: #FBF7F9;*/
/*}*/
.pwd {
    background: url('../images/Locked - Assistor1.png') no-repeat;
    background-position: 310px 15px;
    background-color: #F3F6F5;
}
.pwd:focus {
    background: url('../images/Locked - Assistor2.png') no-repeat;
    background-position: 310px 15px;
    background-color: #FBF7F9;
}
.text-center>a{
	color:#fff;
}
.userPic{	
    background-image: url('../images/User 2 - Assistor2.png');
    height: 17px;
    width: 17px;
    display: block;
    position: relative;	
    top: -31px;
    left: 310px;	
}