<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="support.base.dao.mapper.SweetUserMapper">
	<resultMap id="sweetUser" type="support.base.pojo.po.SweetUser">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="token" property="token" jdbcType="VARCHAR" />
		<result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="passwd" property="passwd" jdbcType="VARCHAR" />
		<result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
		<result column="use_able" property="useAble" jdbcType="INTEGER" />
		<result column="del_status" property="delStatus" jdbcType="INTEGER" />
		<result column="login_time" property="loginTime" jdbcType="DATE" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
	</resultMap>

	<!-- 添加用户 -->
	<insert id="saveUser" parameterType="support.base.pojo.po.SweetUser">
		insert into sweet_user (id,
		user_name, passwd,phone_num, create_time)
		values (#{id},
		#{userName},#{passwd},#{phoneNum},now())
	</insert>

	<update id="updateUser" parameterType="support.base.pojo.vo.SweetUserVo">
		update sweet_user
		<set>
			<if test="phoneNum != null and phoneNum !=''">
				phone_num = #{ phoneNum},
			</if>
			<if test="avatarUrl != null and avatarUrl !=''">
				avatar_url = #{avatarUrl},
			</if>
			<if test="sex != null and sex !=''">
				sex = #{sex},
			</if>
			<if test="passwd != null and passwd !=''">
				passwd = #{ passwd},
			</if>
			<if test="useAble != null and useAble !=''">
				use_able = #{useAble},
			</if>
		</set>
		<where>
			1=1
			<if test="phoneNum != null and phoneNum !=''">
				and id=#{id}
			</if>
			<if test="phoneNum != null and phoneNum !=''">
				and phone_num = #{ phoneNum}
			</if>
			<if test="userName != null and userName !=''">
				and user_name = #{userName}
			</if>
		</where>
	</update>

	<select id="queryUser" resultMap="sweetUser"
		parameterType="support.base.pojo.vo.SweetUserVo">
		select *
		from sweet_user
		<where>
			1=1
			<if test="phoneNum != null and phoneNum !=''">
				and phone_num = #{phoneNum}
			</if>
			<if test="userName != null and userName !=''">
				and user_name = #{userName}
			</if>
			<if test="passwd != null and passwd !=''">
				and passwd = #{passwd}
			</if>
		</where>
	</select>

	<!-- 批量添加收藏 -->
	<insert id="saveCollect" parameterType="java.util.List">
		insert into sweet_collect
		(sco_id, sco_user_id, sco_collect_id,sco_collect_type,sco_collect_time)
		 values
		<foreach collection="list" item="item" index="index" separator=",">
        (UUID(),#{item.scoUserId},#{item.scoCollectId},#{item.scoCollectType},now())     
   	 	</foreach>
	</insert>
	
	<!-- 批量删除收藏 -->
    <delete id="delCollect" parameterType="java.util.List">
    	delete
		FROM
			sweet_collect
		WHERE
			sco_id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")"> 
        	#{item} 
   		</foreach>
    </delete>

</mapper>