@charset "utf-8";
/* CSS Document */


strong{display:inline-block;height:18px;
 width:18px;padding-left:18px;
 background:url(../../../../images/check_no.png) no-repeat;
 }
strong.on{background:url(../../../../images/check_yes.png) no-repeat;}